<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Enter Entity Name">
        </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
          <input matInput placeholder="Enter X point">
        </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
          <input matInput placeholder="Enter Y point">
        </mat-form-field>
  </form>
  
<div class="create-button">
    <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary">CREATE</button>
        </div>
      </section>
</div>
  